{% extends "base.html" %}

{% block content %}
{% if val.count == 0 %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        {% if isadd %}
                        <span>Agregar reserva</span>
                        {% else %}
                        <span>Confirmación de Reserva</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if isadd %}
                <form action="." method="post">
                {% else %}
                <form action="{{ Horario.id }}" method="post">
                {% endif %}
                    {% csrf_token %}
                    <table width="100%">
                        {{ form.as_table }}
                    </table>
                    <p></p>
                    {% if isadd %}
                    <button type="submit" class="btn btn-primary">Agregar bloque</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    {% endif %}
                    <a href="../" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<br><br>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <h1>Ya tienes una reserva para este día</h1>
            <h3>Si desea cancelar el horario que posee, pinche el siguiente boton</h3>
            <button class="button button2"><a href="/gimnasio/horas/">Cambiar</a></button>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
