{% extends "base.html" %}

{% block content %}
{% if usur.count != 0 %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="example" class="display" style="width:100%">
                    <!--<p>Date: <input type="text" id="datepicker"></p>-->

                    <thead>
                        <th>Fecha</th>
                        <th>Bloque</th>
                        <th>Actividad</th>
                        <th>Profesor</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in horario %}
                        <tr>
                            <td>{{ x.fecha }}</td>
                            <td>{{ x.fk_bloque }}</td>
                            <td>{{ x.fk_actividad }}</td>
                            <td>{{ x.fk_profesor }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" id="btn_delete" href="delete/{{ x.id }}" title="eliminar">
                                <i class="bi bi-pencil-square"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/cliente/clienteindex">Volver</a>
    </button>
{% else %}
    <div class="row">
        <div class="col-6">
            <div>
                <img src="https://c.tenor.com/gC0YFLlsbpYAAAAC/no-emoji.gif" alt="">
            </div>
        </div>
        <div class="col-6">
            <h1>No posee una membresía activa para entrar a esta sección</h1>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "columnDefs": [
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
        ],
    });
});
</script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
$(document).ready(function() {
    //
    $( "#datepicker" ).datepicker({
        minDate: -20, maxDate: "+1Y +10D",
        showButtonPanel: false,
        dateFormat: 'yy-mm-dd',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
        'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        closeText: 'Cerrar',
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect:function(datetext, inst){
          console.log(datetext);
        },
    });
  } );
</script>

<script>
    const runClock = () => {
    const date = new Date();
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const fullYear = date.getFullYear();
    const clock = document.getElementById('clock');
    clock.innerHTML = `${day}/${month}/${fullYear}`;
    };

    setInterval(runClock, 1000);

</script>

<script>
$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');
 
    var table = $('#example').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns([0, 1, 2, 3])
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>

{% endblock %}
