{% extends "base.html" %}

{% block content %}
<p></p>
{% if usur.count != 0 %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="example" class="display" style="width:100%">
                    <!--<p>Date: <input type="text" id="datepicker"></p>-->

                    <thead>
                        <th>Fecha</th>
                        <th>Bloque</th>
                        <th>Actividad</th>
                        <th>Profesor</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for x in horario %}
                        <tr>
                            <td>{{ x.fecha }}</td>
                            <td>{{ x.fk_bloque }}</td>
                            <td>{{ x.fk_actividad }}</td>
                            <td>{{ x.fk_profesor }}</td>
                            <td>
                                <a href="update_res/{{x.id}}">
                                        <input type="button" value="Reserva Bloque">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/cliente/clienteindex">Volver</a>
    </button>
{% else %}
<div class="row">
    <div class="col-6">
        <div>
            <img src="https://c.tenor.com/gC0YFLlsbpYAAAAC/no-emoji.gif" alt="">
        </div>
    </div>
    <div class="col-6">
        <h1>No posee una membresía activa para entrar a esta sección</h1>
    </div>
</div>
{% endif %}
{% endblock %}


{% block others_js %}
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#example thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#example thead');
     
        var table = $('#example').DataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();
     
                // For each column
                api
                    .columns([0, 1, 2, 3])
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
     
                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
     
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();
     
                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
    </script>
    
{% endblock %}
