{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% load static %}

{% block content %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrate</p>
                    <h3><form class ="form-register" method="POST" action=""></h3>
                    {% csrf_token %}
                    
                  <form class="mx-1 mx-md-4">
                    {{ form.non_field_errors }}
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        {{ form.username.errors }}
                        <label class="form-label" for="{{ form.username.id_for_label }}">Usuario</label>
                        {{ form.username }}
                    </div>
                    </div>

  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                                                {{ form.email.errors }}
                        <label class="form-label" for="{{ form.email.id_for_label }}">Correo electronico</label>
                        {{ form.email }}
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        {{ form.password1.errors }}
                        <label class="form-label" for="{{ form.password1.id_for_label }}">Contraseña</label>
                        {{ form.password1 }}
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        {{ form.password2.errors }}
                        <label class="form-label" for="{{ form.password2.id_for_label }}">Repite la contraseña</label>
                        {{ form.password2 }}
                      </div>
                    </div>
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          {{ form.first_name.errors }}
                          <label class="form-label" for="{{ form.first_name.id_for_label }}">Primer nombre</label>
                          {{ form.first_name }}
                      </div>
                      </div>
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          {{ form.last_name.errors }}
                          <label class="form-label" for="{{ form.last_name.id_for_label }}">Apellido</label>
                          {{ form.last_name }}
                      </div>
                      </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          {{ form.rut.errors }}
                          <label class="form-label" for="{{ form.rut.id_for_label }}">Rut sin guiones ni digito verificador</label>
                          {{ form.rut }}
                      </div>
                      </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          {{ form.telefono.errors }}
                          <label class="form-label" for="{{ form.telefono.id_for_label }}">Telefono</label>
                          {{ form.telefono }}
                      </div>
                      </div>
                      <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn btn-primary" type="submit" value="Registrarse">
                    </div>
        
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://ossfitness.com/fotos/2021/07/strong-man-training-in-gym-1024x683.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block footer %}
{% endblock %}