{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <img class="d-block w-50" src="{% static 'assets/img/reserva.png' %}" alt="First slide">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">RESERVA<span></span></h2>
            <p class="animated fadeInUp">Reserva tu horario</p>
            <a href="/gimnasio/reserva/" class="btn-get-started animated fadeInUp scrollto">Reserva</a>
          </div>
        </div>
      </div>
     
      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)" >
      <img class="d-block w-50" src="{% static 'assets/img/check.png' %}" alt="Second slide">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">Horas<span></span></h2>
            <p class="animated fadeInUp">Horarios reservados</p>
            <a href="/gimnasio/horas/" class="btn-get-started animated fadeInUp scrollto">Horas</a>
          </div>
        </div>
      </div>
    </div>

    
    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<section>
<div class="container-fluid px-4">
  <div class="row">

  <div class="col-xl-3 col-md-6">
    <div class="card bg-info text-white mb-4">
      <div class="card-body">Ver Membresía</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="/gimnasio/cliente/membresia"></a>
        <div class="small text-white">
          <u>Ver más</u>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">Ver Horarios HOY</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <a class="small text-white stretched-link" href="/gimnasio/cliente/historialhorario"></a>
        <div class="small text-white">
          <u>Ver más</u>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>


{% endblock %}


          
{% block others_js %}

{% endblock %}
