{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
{% if usur.count == 0 %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1> No posees una membresía activa</h1>
                </div>
            </div>
        </div>
</div>
{%endif%}

{% for x in membresia %}
    {% if x.estado == True %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="table" class="display" style="width:100%">
                        <th> Su membresia actual es {{ x.membresia }}</th>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/cliente/clienteindex">Volver</a>
    </button>
</div>
{% endblock %}