{% extends "base.html" %}

{% load static %}

{% block content %}
<p></p>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <img class="d-block w-100" src="{% static 'assets/img/logo.jpg' %}" alt="First slide">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">BIENVENIDO A  <span>ONELIFE</span></h2>
              <p class="animated fadeInUp">El mejor gimnasio</p>
              <a href="#about" class="btn-get-started animated fadeInUp scrollto">Leer más</a>
            </div>
          </div>
        </div>
       
        <!-- Slide 2 --> <!--
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)" >
        <img class="d-block w-50" src="{% static 'assets/img/reserva.png' %}" alt="Second slide">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Clientes</h2>
              <p class="animated fadeInUp">Tomar reserva</p>
              <a href="cliente/index.html" class="btn-get-started animated fadeInUp scrollto">Reserva</a>
            </div>
          </div>
        </div>
      </div>
      -->
      <!--
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>-->

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 img-box d-flex justify-content-center align-items-stretch position-relative">
            <img class="d-block w-100" src="{% static 'assets/img/trust_2.jpg' %}" alt="Confía">
          </div>

          <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Centro de Salud y Actividad Física </h3>
            <p>ONE LIFE cuenta con lugar físico implementado para realizar las sesiones de entrenamiento personalizado. <br>
                Los profesionales cuentan con las competencias necesarias para realizar intervenciones en personas con ECNT como: 
                <br>Hipertensión 
                <br>Diabetes 
                <br>Obesidad 
                <br>Dislipidemia 
                <br>Y más…<br>
                Esta es la oportunidad que necesitas para hacer ese cambio en tu vida!</p>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-accessibility"></i></div>
              <h4 class="title"><a href="">Rehabilitación</a></h4>
              <p class="description">Contamos con los instrumentos necesarios para realizar tu rehabilitación de la mejor manera posible</p>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-football"></i></div>
              <h4 class="title"><a href="">Deportistas</a></h4>
              <p class="description">Contamos con profesionales que pueden guiar a deportistas profesionales o amateurs que quieran un entrenamiento o rutina de ejercicios más personalizada para ellos <br> Con profesionales que guiarán tu trabajo y te acompañarán en todo momento</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-cycling"></i></div>
              <h4 class="title"><a href="">Orientaciones</a></h4>
              <p class="description">Onelife cuenta con profesionales que te orientarán en problemáticas externas al ejercicio, como lo pueden ser nutricionistas y kinesiologos que estarán pendientes a cualquier cosa que tu necesites</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <div id = "planes" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">PLANES</h1>
      <p class="lead">Conoce nuestros planes y sus beneficios accesibles a todos los bolsillos</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Bronce</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15.000 <small class="text-muted">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 días al mes</li>
              <li>Acceso a página de ejercicios</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Plata</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$25.000 <small class="text-muted">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 días al mes</li>
              <li>Acceso a página de ejercicios</li>
              <li>Entrenamiento personalizado</li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Oro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$35.000 <small class="text-muted">/mes</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>2 meses</li>
              <li>Acceso a página de ejercicios</li>
              <li>Entrenamiento personalizado</li>
            </ul>
          </div>
        </div>
      </div>


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Contactanos</h2>
          <h3><span></span></h3>
          <p>Posibles formas de contactarnos y dónde encontrarnos <br> Y nuestros horarios de atención</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-lg-12">

                <div class="row justify-content-center">

                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-map"></i>
                    <h4>Dirección</h4>
                    <p>31 sur pasaje 6 1/2 poniente B 3460000<br>Talca, Chile</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-phone"></i>
                    <h4>Llámanos</h4>
                    <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-envelope"></i>
                    <h4>Contáctanos</h4>
                    <p><br>contacto.onelifecl@gmail.com</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-time-five"></i>
                    <h4>Horario de trabajo</h4>
                    <p>Lunes - Viernes: 7AM a 9PM<br>Sabado: 7AM a 6PM <br> Domingo: Cerrado</p>
                  </div>

                </div>

              </div>

        

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
{% endblock %}
