{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Eliminar Horario</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form action="{{ horar.id }}" method="post">
                    {% csrf_token %}
                    <label class="form-label">Fecha</label>
                        <input type="text" class="form-control" 
                        value='{{ horar.fecha }}' disabled>
                    <label class="form-label">Bloque</label>
                    <input type="text" class="form-control" 
                        value='{{ horar.fk_bloque }}' disabled>
                    <label class="form-label">Actividad</label>
                    <input type="text" class="form-control" 
                        value='{{ horar.fk_actividad }}' disabled>
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" 
                        value='{{ horar.fk_usuario }}' disabled>
                    <label class="form-label">Profesor</label>
                    <input type="text" class="form-control" 
                        value='{{ horar.fk_profesor }}' disabled>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                    <a href="../" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
