{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card text-center">
      <div class="card-body">
        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
        <button id='generar' type="submit" class="btn btn-danger" onclick="extraer_csv('grafico1');">CSV</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card text-center">
      <div class="card-body">
        <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
        <button id='generar' type="submit" class="btn btn-danger" onclick="extraer_csv('grafico2');">CSV</button>
      </div>
    </div>
  </div>
  <div><br></div>
  <div class="col-6">
    <div class="card text-center">
      <div class="card-body">
        <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
        <button id='generar' type="submit" class="btn btn-danger" onclick="extraer_csv('grafico1');">CSV</button>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card text-center">
      <div class="card-body">
        <div id="chartContainer4" style="height: 370px; width: 100%;"></div>
        <button id='generar' type="submit" class="btn btn-danger" onclick="extraer_csv('grafico1');">CSV</button>
      </div>
    </div>
  </div>
</div>
<br>
<div style="text-align: center">
  <button type="button" class="btn btn-warning"><a href="/gimnasio/administrador/index">Volver</a>
  </button>
</div>
<p></p>


{% endblock %}
{% block others_js %}
<script>
$(document).ready(function() {
    // https://canvasjs.com/jquery-charts/
    let datamembresia = {{ datamembresia|safe }};
    let options2 = {
        title: {
            text: "Historial de membresias"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column", 
            dataPoints: datamembresia
            }
        ],
        axisX:{
            title:"Membresia",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };

    let dataactividades = {{ dataactividades|safe }};
    let options1 = {
        title: {
            text: "Historial de actividades más realizadas"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column", 
            dataPoints: dataactividades
            }
        ],
        axisX:{
            title:"Actividades realizadas",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };
    
    let dataactividades2 = {{ dataactividades2|safe }};
    let options3 = {
        title: {
            text: "Profesores con la cantidad de clases realizadas"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column", 
            dataPoints: dataactividades2
            }
        ],
        axisX:{
            title:"Profesores a cargo",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };

    let bloques = {{ bloques|safe }};
    let options4 = {
        title: {
            text: "Bloques con más concurrencia de personas"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column", 
            dataPoints: bloques
            }
        ],
        axisX:{
            title:"Duración",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };
    
    $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer2").CanvasJSChart(options2);
    $("#chartContainer3").CanvasJSChart(options3);
    $("#chartContainer4").CanvasJSChart(options4);
});
</script>


<!--https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/-->
<script type="text/javascript">
  // Code goes here
        // JSON to CSV Converter
        function extraer_csv(graph) {
          if(graph == "grafico1"){
            var graph = {{ datamembresia|safe }};
            var archivo = "Cantidad de membresias";
            var columna_1 = "Membresia";
            var columna_2 = "Cantidad";
          }

          if(graph == "grafico2"){
            var graph = {{ dataactividades|safe }};
            var archivo = "Cantidad de actividades";
            var columna_1 = "Actividades";
            var columna_2 = "Cantidad";
          }

          // referencia: https://embed.plnkr.co/aO2DwSpmZCQ0GHSmPv7m/
          var array = typeof graph != 'object' ? JSON.parse(graph) : graph;
           console.log(array[0]);
           var contenido = '';
           contenido += columna_1 + "," + columna_2 + '\r\n';

           for (var i = 0; i < array.length; i++) {
             var fila = '';
             for (var index in array[i]) {
               if (fila != '') fila += ','
               fila += array[i][index];
             }
             contenido += fila + '\r\n';
           }

           var link = 'data:text/csv;charset=utf-8,' + escape(contenido);
           $.ajax({
             url: link,
             method: 'GET',
             xhrFields: {
               responseType: 'blob'
             },
             xhr: function () {

               var xhr = new window.XMLHttpRequest();
               xhr.addEventListener("progress", function (evt) {

                 if(evt.lengthComputable) {
                   var percentComplete = evt.loaded / evt.total;
                   console.log(percentComplete);
                 }
               }, false);
               return xhr;
             },
             success: function (data) {
               var a = document.createElement('a');
               var url = window.URL.createObjectURL(data);
               a.href = url;
               a.download = archivo + ".csv";
               document.body.append(a);
               a.click();
               a.remove();
               window.URL.revokeObjectURL(url);
             }
           });
         }

</script>

{% endblock %}