{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
<br><br>
<div class="container-fluid px-4">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Informaciones generales</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/graficar"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Usuarios</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/usuario"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">Registrar Membresías</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/historial"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-secondary text-white mb-4">
        <div class="card-body">Ver horarios para el día de hoy</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/reservashoy"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>
<!--
<div class="card">
  <div class="row">
    <div class="col-md-8">
      <h2><strong class="card-title">Horarios reservados</strong></h2>
    </div>
  </div>

</div>
<br>
<p>Date: <input type="text" id="datepicker"></p>

-->
{% endblock %}

{% block others_js %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
      //
      $( "#datepicker" ).datepicker({
        minDate: -20, maxDate: "+1Y +10D",
        showButtonPanel: false,
        dateFormat: 'dd/mm/yy',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
        'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        closeText: 'Cerrar',
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        onselect:function(datetext, inst){
          console.log(datetext);
        },
      });

  } );
  </script>
{% endblock %}
