{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Horarios Disponibles</span>
                        <a class="btn btn-primary btn-sm float-end" href="../add/" title="agregar">
                            <i class="bi bi-plus"></i> Agregar</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table" class="display" style="width:100%">
                    <thead>
                        <th>ID Hora</th>
                        <th>Fecha</th>
                        <th>Bloque</th>
                        <th>Actividad</th>
                        <th>Profesor</th>
                        <th>Usuario</th>
                        <th>Asistencia</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                    {% for x in horario %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.fecha }}</td>
                            <td>{{ x.fk_bloque }}</td>
                            <td>{{ x.fk_actividad }}</td>
                            <td>{{ x.fk_profesor }}</td>
                            {% if x.fk_usuario == None %}
                                <td>No hay reserva hasta el momento</td>
                            {% else %}
                                <td> {{ x.fk_usuario }}</td>
                            {%endif%}
                            <td>{{ x.asistencia|yesno:"Asistió,No Asistió" }}</td>
                            <td>
                                <a class="btn btn-success btn-sm" href="../update2/{{ x.id }}" title="editar">
                                <i class="bi bi-bookmark-check-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div style="text-align: center">
  <button type="button" class="btn btn-warning"><a href="/gimnasio/administrador/index">Volver</a>
  </button>
</div>
<br>
{% endblock %}



{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": false},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 6, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 7, "orderable": false, "className": "dt-center dt-body-left"},
        ],
    });
});
</script>
{% endblock %}