{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center">
          <div class="card-body">
            <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
          </div>
        </div>
      </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 center">
        <div class="card text-center">
            <div class="card-body">
                <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="card-body">
    <h2>Tabla de membresias</h2>
    <table id="table" class="display" style="width:100%">
        <thead>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Fecha inicio</th>
            <th>Fecha termino</th>
            

        </thead>
        <tbody>
            {% for x in histo %}
            <tr>
                <td>{{ x.usuario }}</td>
                <td>{{ x.estado|yesno:"Activa,No Activa" }}</td>
                <td>{{ x.fecha_inicio }}</td>
                <td>{{ x.fecha_termino }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="card-body">
    <h2>Tabla de actividades</h2>
    <table id="table2" class="display" style="width:100%">
        <thead>
            <th>Actividad realizada</th>
            <th>Asistencia</th>
            <th>Profesor a cargo</th>


        </thead>
        <tbody>
            {% for x in actividades %}
            <tr>
                <td>{{ x.fk_actividad }}</td>
                <td>{{ x.asistencia|yesno:"Asistió,No Asistió" }}</td>
                <td>{{ x.fk_profesor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="card-body">
    <h2>Tabla de Bloques</h2>
    <table id="table3" class="display" style="width:100%">
        <thead>
            <th>Bloque tomado</th>
            <th>Actividad realizada</th>
            <th>Profesor a cargo</th>


        </thead>
        <tbody>
            {% for x in toma_bloques %}
            <tr>
                <td>{{ x.fk_bloque }}</td>
                <td>{{ x.fk_actividad }}</td>
                <td>{{ x.fk_profesor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>

<br>
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/administrador/usuariodashboard">Volver</a>
    </button>
</div>
<p></p>


{% endblock %}
{% block others_js %}
<script>
$(document).ready(function() {
    // https://canvasjs.com/jquery-charts/
    let datamembresia = {{ datamembresia|safe }};
    let options1 = {
        title: {
            text: "Membresias por Usuario"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "column", 
            dataPoints: datamembresia
            }
        ],
        axisX:{
            title:"Membresia",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };

    let dataactividades = {{ dataactividades|safe }};
    let options2 = {
        title: {
            text: "Actividades"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "line", 
            dataPoints: dataactividades
            }
        ],
        axisX:{
            title:"Actividades realizadas",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };

    let bloques = {{ bloques|safe }};
    let options3 = {
        title: {
            text: "Bloques preferidos por el usuario"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
            {
            type: "pie", 
            dataPoints: bloques
            }
        ],
        axisX:{
            title:"Bloques tomados",
        },
        axisY:{
            title:"Cantidad",
            interval: 1,
        },
    };
    
    $("#chartContainer1").CanvasJSChart(options1);
    $("#chartContainer2").CanvasJSChart(options2);
    $("#chartContainer3").CanvasJSChart(options3);

});
</script>

<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "columnDefs": [
            {"targets": 0, "orderable": false, "className": "dt-center", "visible": true},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": true, "className": "dt-center dt-body-left"},
        ],
    });
});
</script>
<script>
    $(document).ready(function() {
        //
        $('#table2').DataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "columnDefs": [
                {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
                {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
                {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            ],
        });
    });
    </script>

<script>
    $(document).ready(function() {
        //
        $('#table3').DataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            "columnDefs": [
                {"targets": 0, "orderable": true, "className": "dt-center", "visible": true},
                {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
                {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            ],
        });
    });
    </script>
{% endblock %}