{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <span>Usuarios Creados</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                    <table id="table" class="display" style="width:100%">
                        <thead>
                            <th>ID Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Rut</th>
                            <th></th>
                        </thead>
                        <tbody>
                        
                        {% for x in usuarios %}
                            <tr>
                                <td>{{ x.id }}</td>
                                <td>{{ x.first_name }}</td>
                                <td>{{ x.last_name }}</td>
                                <td>{{ x.telefono }}</td>
                                <td>{{ x.email }}</td>
                                <td>{{ x.rut }}</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="../updateusuario/{{ x.id }}" title="editar">
                                    <i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger btn-sm" id="btn_delete" href="../deleteusuario/{{ x.id }}" title="eliminar">
                                    <i class="bi bi-trash"></i></a>
                                    <a class="btn btn-success btn-sm" id="btn_delete" href="../usuariobuscar/{{ x.id }}" title="buscar">
                                    <i class="bi bi-search"></i></a>
                                    <a class="btn btn-secondary btn-sm" id="btn_delete" href="../historial2/{{ x.id }}" title="membresia">
                                    <i class="bi bi-plus-square-fill"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<br>
<div style="text-align: center">
  <button type="button" class="btn btn-warning"><a href="/gimnasio/administrador/usuario">Volver</a>
  </button>
</div>
<br>
{% endblock %}

{% block others_js %}
<script>
$(document).ready(function() {
    //
    $('#table').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
    },
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "columnDefs": [
            {"targets": 0, "orderable": true, "className": "dt-center", "visible": false},
            {"targets": 1, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 2, "orderable": true, "className": "dt-center dt-body-left"},
            {"targets": 3, "orderable": false, "className": "dt-center dt-body-left"},
            {"targets": 4, "orderable": false, "className": "dt-center dt-body-left"},
            {"targets": 5, "orderable": false, "className": "dt-center dt-body-left"},
            {"targets": 6, "orderable": false, "className": "dt-right", "width": "10%"},
        ],
    });
});
</script>
{% endblock %}
