{% extends "base.html" %}
{% load static %}
{% block content %}
<p></p>
<br><br>
<div class="container-fluid px-4">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Crear usuario</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/usuarioadd"></a>
          <img class="d-block w-100" src="{% static 'assets/img/usuario.png' %}" alt="First slide" width="50" height="70">
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Ver usuarios</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="/gimnasio/administrador/usuariodashboard"></a>
          <div class="small text-white">
            <u>Ver más</u>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div style="text-align: center">
    <button type="button" class="btn btn-warning"><a href="/gimnasio/administrador/index">Volver</a>
    </button>
</div>
<br>

{% endblock %}